/*********************************** common ***********************************/

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
}

#wrapper-header-search {
    background-image: url('images/bg.png');
    background-position: center;
    background-size: cover;
}

header,
section,
footer {
        width: 1200px;
        margin: 0 auto;
}


.modal-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}


.modal-mask.active {
    display: block;
    z-index: 5;
}



/*********************************** header ***********************************/
#wrapper-header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ffffff73;
    z-index: 5;
}


header {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    justify-content: space-between;
}

#header-left {
    padding: 30px 0 32px;
    width: 236px;
    cursor: pointer;
    background-image: url(./images/logo.png);
    object-fit: contain;
    background-repeat: no-repeat;
}

#header-right {
    color: #ffffff;

}

#header-right-top {
    position: absolute;
    top: 5px;
    right: 6px;
    height: 20px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#header-right-top p {
    margin-right: 10px;
}

#header-right-top i {
    font-size: 11px;
}




#header-right-bottom,
#header-right-bottom ul {
    display: flex;
    align-items: center;
    width: 607px;
    z-index: 2;
}

#header-right-bottom > ul > li,
#header-right-bottom > ul > li > ul {
    display: flex;
    flex-direction: column;
}

#header-right-bottom > ul > li {
    position: relative;
}

#header-right-bottom > ul > li > ul {
    position: absolute;
    top: 0;
    width: fit-content;
    /* margin-right: 35px; */
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.88; */
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: all ease-in 300ms;
    margin-top: 62px;
    display: none;
}

#header-right-bottom > ul > li > ul.show {
    display: block;
}

.show-flex {
    display: flex;
}

#header-right-bottom > ul > li > a{
    width: 60px;
    height: 70px;
    line-height: 70px;
    padding: 0 23px 0 12px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

#header-right-bottom > ul > li > ul > li {
    transition: all ease-in 300ms;
}

#header-right-bottom > ul > li > ul > li:first-child {
    padding-top: 10px;
}


#header-right-bottom {
    padding-top: 37px;
}

#header-right-top > ul {
    position: absolute;
    width: 100%;
    height: 0;
    top: 35px;
    left: 7px;
    overflow: hidden;
    transition: all ease-in 300ms;
    z-index: 3;
}

#header-right-top > ul.active {
    height: 82px;
}

#header-right-top > ul > li {
    padding-left: 10px;
    width: 100%;
    height: 41px;
    background: rgba(0,0,0,0.8);
    border-top: 1px solid #888;
    box-sizing: border-box;
    transition: all 0.3s;
}

#header-right-top > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 14px 15px 0;
    box-sizing: border-box;
    font-size: 12px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    text-align: center;
    z-index: 11;
}


#header-right-bottom > ul > li > ul > li > a {
    display: block;
    width: 60px;
    height: 70px;
    line-height: 70px;
    padding-right: 25px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: all ease-in 300ms;
    border: 1px solid #eee;
    margin-top: -1px;
    background-color: #fff;
}

#header-right-bottom > ul > li > ul > li > a:hover {
    background: #fafafa;
    color: #1a4978;
    font-weight: 600;
}

#header-right-bottom ul li a:hover {
    color: #e2b480;
}

.toggle-search-button {
    all:unset;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.toggle-search-button > div {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background-image: url(./images/sch_icon_sub.png);
    border-radius: 50%;
    background-color:white;
}


#header-right-bottom > button > img {
    cursor: pointer;
}

.search-box.active {
    z-index: 11;
}


.search-input-wrapper {
    width: 0;
    position: absolute;
    bottom: 12px;
    right: -13px;
    height: 48px;
    background: #fff;
    color: #555;
    font-size: 14px;
    box-sizing: border-box;
    opacity: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    transition: all ease-in 200ms;
    z-index: -1;
    overflow:hidden;
}

.search-input-wrapper.active {
    width: 320px;
    /* z-index: 11; */
    opacity: 1;
}

.search-input {
    width: 100%;
    height: 48px;
    padding: 15px;
    background: #fff;
    border: 2px solid #1a4978;
    color: #555;
    float: left;
    font-size: 14px;
    box-sizing: border-box;
    opacity: 1;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}




/* header-wrapper.active */
#wrapper-header.active {
    background-color: white;
    border-bottom: 1px #1a4978 solid;
}

#wrapper-header.active #header-right-top i {
    color: #555;
}

#wrapper-header.active > header > #header-left {
    background-image: url(./images/logo_sub.png);
}

#wrapper-header.active .toggle-search-button > div {
    background: #1a4978 url(../images/sch_icon.png) no-repeat center center;
    background-size: contain;
}

#wrapper-header.active > header > #header-right > #header-right-top > p {
    color: #555;
}

#wrapper-header.active > header > #header-right > #header-right-bottom > ul > li > a{
    color: #555;
}




/*********************************** search-section ***********************************/
#search-section {
    width: 500px;
    margin: 0 auto;
    height: 819px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

#search-section > p {
    width: 400px;
    height: 100px;
    margin: 256px 0 0;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -3px;
    text-align: center;
    color: #ffffff;
}

.search-section-content-wrapper {
    height: 128px;
    width: 500px;
    position: relative;
    border-bottom: 2px solid #ffffff;
}

.input-wrapper {
    width: 500px;
    position: absolute;
    bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper > input {
    all:unset;
    height: 42px;
    background-color: transparent;
    line-height: 42px;    
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: -1.8px;
    text-align: left;
    color: #ffffff;
}

.input-wrapper > input::placeholder {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: -1.8px;
    text-align: left;
    color: #ffffff;
}

.input-wrapper button {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    width: 54px;
    height: 54px;
    all: unset;
}

.input-wrapper img {
    width: 54px;
    height: 54px;
    cursor: pointer;
}


#search-section-bottom {
    /* padding-top: 291px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}


#search-section-bottom > p {
    width: 70px;
    height: 16px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}


#search-section-bottom > img {
    margin-bottom: 22px;
    cursor: pointer;
}








/*********************************** card-section ***********************************/
#card-section {
    height: 766px;
    position:relative;

}


#wrapper-card-section {
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.979), rgba(221, 221, 221, 0.103)), url('images/tab-background.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
}

/* #card-section > img {
    z-index: -1;
} */

.card-section-letter {
    position: absolute;
    top: 160px;
}

.card-section-letter > p {
    width: 411px;
    height: 107px;
    opacity: 0.4;
    font-family: NotoSansCJKkr;
    font-size: 111px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.37;
    letter-spacing: -9px;
    text-align: left;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.card-section-letter > ul {
    display: flex;
    width: 411px;
    justify-content: center;
    cursor: pointer;
}

.card-section-letter > ul > li > a{
    font-size: 25px;
    padding: 0 10px;
    font-weight: 600;
    color: #aaaaaa;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all ease-in 300ms;
}

.card-section-letter > ul > li > a.active,
.card-section-letter > ul > li > a:hover{
    color: #333333;
}


.card-showmore {
    all: unset;
    position: absolute;
    right: 8px;
    top: 174px;
}


.card-showmore > p {
    font-weight: 600;
    letter-spacing: -2.2px;
    z-index: 2;
    cursor: pointer;
}

.card-showmore::after {
    position: absolute;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 6px solid #8a6e4f;
    opacity: 0.7;
}

.cards-wrapper {
    display: block;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    position: absolute;
    bottom: 104px;
    width: 100%;
    overflow: hidden;
    left: 0;
    transition: all ease-in 300ms;
}


.cards-box {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
}

.cards-box.animated {
    transition: all ease-in 300ms;
}

.cards-wrapper > ul {
    width: 100%;
    display: -webkit-inline-box;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}
.cards-wrapper > ul > li {
    width: 100%;
    display: flex;
    justify-content: space-around;
}




.card {
    width: fit-content;
    height: 436px;
    border: 3px solid transparent;
    background-color: #ffffff;
    border-radius: 30px 0 30px 0;
    position: relative;
    transition: all ease-in 300ms;
    margin: 0px 19px;
    float: left;
}

.card.active,
.card:hover {
    border: solid 3px #e3b583;
}

.card-label {
    width: fit-content;
    padding: 18px 29px 15px 35px;
    background-color: #8a6e4f;
    color: white;
    border-radius: 5px 18px 18px 0px;
    margin-top: 30px;
    margin-left: -5px;
    z-index: 2;
    font-weight: 600;
}

.card-label-shadow {
    width: 4px;
    height: 4px;
    background-image: url(./images/flag-back.png);
    position: absolute;
    left: -5px;
    top: 79px;
}


.card-title {
    width: 325px;
    height: 83px;
    margin: 0 0 29px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -1.8px;
    text-align: justify;
    color: #333333;
    padding-left: 30px;
    padding-top: 29px;
}

.card-content {
    width: 312px;
    height: 74px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
    color: #666666;
    padding-left: 31px;
}

.card-date {
    width: 76px;
    height: 13px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.8px;
    text-align: left;
    color: #999999;
    padding-left: 31px;
}

.card-img-wrapper {
    position: absolute;
    bottom: 30px;
    display: flex;
    right: 20px;
}

.card-img {
    width: 60px;
    height: 60px;
    background-color:#1c272f;
    border-radius: 50%;
    margin-right: 10px;
}

.card-pagenation {
    position: absolute;
    bottom: 62px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card-pagenation > button {
    all: unset;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.3;
    margin: 0 4px;
    cursor: pointer;
    transition: all ease-in 300ms;
}

.card-pagenation > button.active,
.card-pagenation > button:hover {
    background-color: #8a6e4f;
    opacity: 1;
}

.tab-arrow-left,
.tab-arrow-right {
    all: unset;
    position: absolute;
    top: 425px;
    cursor: pointer;
}

.tab-arrow-left {
    left: -30px;
}

.tab-arrow-right {
    right: -30px;
}








/*********************************** letter-section ***********************************/
#wrapper-letter-section,
#wrapper-footer-section {
    width: 100%;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}

#letter-section {
    height: 369px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(202, 202, 202); */
}

.newsletter {
    width: 152px;
    height: 36px;
    /* margin: 96px 290px 38px 365px; */
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    text-align: left;
    color: #333333;
    padding-bottom: 40px;
}

.main-letter {
    padding-bottom: 35px;
    line-height: 1.63;
}

#letter-section-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#letter-section-right {
    padding-top: 38px;
} 

.show-more {
    font-weight: bold;
    cursor: pointer;
}

#letter-section-right .letter-ractangle.active,
#letter-section-right .letter-ractangle:hover {
    border-color: #e3b583;
}

#letter-section-right .letter-ractangle:hover .ractangle-date,
#letter-section-right .letter-ractangle:hover .ractangle-content {
    color:rgba(12, 12, 12);
}


.letter-ractangle {
    width: 660px;
    height: 71px;
    margin: 10px 0px 0 44px;
    padding: 25px 29px 23px 30px;
    /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%); */
    background-color: #ffffff;
    position: relative;
    border: 2px solid transparent;
    transition: all ease-in 300ms;
}

.ractangle-date {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.8px;
    text-align: left;
    color: #999999;
}

.ractangle-content {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: -1.8px;
    text-align: left;
    color: #999999;
}

img[src="images/news-arrow-hover.png"],
img[src="images/news-arrow.png"] {
    position: absolute;
    right: 29px;
    bottom: 44px;
    cursor: pointer;
}








/*********************************** footer ***********************************/
#wrapper-footer-section {
    border-top: none;
}

footer {
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(202, 202, 202); */
    margin-top: -1px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

footer > img {
    padding: 20px;
}

footer > ul {
    display: flex;
    flex-direction: row;
    padding: 12px;
}


footer ul li {
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333333;
    position: relative;
}

footer ul li a {
    color: black;
}

footer ul li::after {
    content: "";
    border-right: 1px solid black;
    position: absolute;
    top: 6px;
    height: 14px;
    left: 1px;
}

footer ul li:first-child::after {
    display: none;
}

footer > address {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333333;
}

footer > p {
    padding: 3px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    color: #aaaaaa;
}
