a{
  all:unset
}

li{
  all: unset;
}

body {
    background-color: white;
}

.language{
color: white;
width: 1200px;
text-align: right;
margin-top: 10px;
margin-bottom: -20px;
}

.header-items{
  all: unset;
    width: 54px;
    height: 34px;
    margin: 39px 50px 0px 20px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.88;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
}

.section1{
    display: flex;
    width: 1920px;
    height: 931px;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    justify-content: space-around;
    background-image: url(img/bg.png);
}

.section1-2{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: -70px;
}

.search-text{
        all: unset;
        font-family: NotoSansCJKkr;
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.92;
        letter-spacing: -1.8px;
        text-align: left;
        color: #ffffff;
}

.section1-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2{
        width: 1920px;
        height: 766px;
        padding: 0 0 62px;
        object-fit: contain;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(img/tab-background.png);
        background-size: cover;
     }

     

     .category{
        height: 28px;
        font-family: NotoSansCJKkr;
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -1.5px;
        text-align: left;
        color: #999999;
        
     }

     .selected-category{
        color: black;
    }

     .category-container{
        width: 392px;
        height: 107px;
        font-family: NotoSansCJKkr;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.37;
        display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 30px;
     }

     .elements-box-container{
         display: flex;
     }

     .elements-box{
        width: 384px !important;
        height: 436px !important;
        padding: 109px 30px 30px;
        padding-top: 55px;
        box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.15);
        border: solid 3px #e3b583;
        background-color: #ffffff;
        margin: 30px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     
     .category-block{
        width: 181px;
        height: 50px;
        padding: 18px 29px 15px 35px;
        background-color: #8a6e4f;
        border-top-right-radius: 30px;     
        border-bottom-right-radius: 30px;
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: -1.2px;
        text-align: center;
        color: #ffffff;
        margin-left: -30px;
        }

.profile-img-box-container{
    display: flex;
    justify-content: flex-end;
}

.profile-img-box{
    width: 60px;
    height: 60px;
}

  .caseTitle{
  width: 370px;
  height: 83px;
  margin: 0 0 29px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -1.8px;
  text-align: justify;
  color: #333333;
    }


    .caseContent{
        width: 370px;
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -1.2px;
        text-align: left;
        color: #666666;
    }

    .box-content{
        display: flex;
        flex-direction: column;
    }

     .middle-nav-bar{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-end;
     }
.border {
    width: 500px;
    height: 2px;
    color: white;
    box-shadow: 0px 3px 14px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-bottom: 230px;
  }
  
.more-info {
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 1000;
    font-stretch: normal;
    font-style: normal;
    color: #333333;
    margin-right: 30px;
}

.nav-container{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: outset;
    border-width: thin;
}

.header-logo{
    width: 233px;
    height: 56px;
    background-color: blanchedalmond;
}

.main-menu{
  all: unset;
  
}

.nav-bar{
    display: inline;

}
.scroll-btn{
  width: 56px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.14;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
}


.search_button-big {
    width: 54px;
    height: 54px;
    object-fit: contain;
  }


  .logo {
    width: 233px;
    height: 56px;
    margin: 1px 117px 28px 0;
    object-fit: contain;
  }
  

  .header-text-box{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 80px;
    margin: 200px 87px 150px 8px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -3px;
    text-align: center;
    color: #ffffff;
  }

  .search-box{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .news-box1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 368px;
    width: 850px;
    padding-left: 365px;
    padding-right: 318px;
  }

  .news-box2{
    width: 970px;
  }

  .section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1400px;
    }

 
  .news-letter{
  width: 272px;
  font-family: NotoSansCJKkr;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  text-align: left;
  color: #333333;
  margin-top: 0px;
  }

  .footer-more-info{
    width: 272px;
    text-align: left;
    padding-left: 30px;
  }

  .new-info1{
    margin-top: 60px;
    width: 660px;
    height: 120px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 2px #e3b583;
    background-color: #ffffff;
    padding: 30px;
  }

  .new-info2{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 660px;
    height: 120px;
    background-color: #ffffff;
    padding: 30px;
  }

  .news-date{
    width: 96px;
    height: 12px;
    margin: 0 492px 13px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.8px;
    text-align: left;
    color: #1f344a;
  }

  .news-cotent{
    width: 450px;
    height: 26px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: -1.8px;
    text-align: left;
    color: #333333;
        padding: 30px;
        padding-left: 0px;
  }

  .right-arrow{
    margin-left: 90px;
    margin-right: 30px;
    width: 13px;
    height: 22px;
  }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: outset;
    border-width: thin;
    width: 1920px;
    height: 291px;
}


.gray-logo{
    width: 233px;
    height: 45px;
}

.footer-items{
  height: 15px;
  margin: 29px 12px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -1.2px;
  text-align: center;
  color: #333333;
}