a {
	all:unset;
	cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* input 기본 스타일 초기화 */
input { 
	-webkit-appearance : none;
	-moz-appearance:none;
	appearance:none;
	}
	
	
	
/* IE10 이상에서 input box에 추가된 지우기 버튼 제거 */

input::-ms-clear { display:none;}



/* input type number 에서 화살표 제거 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-out-spin-button {
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}



/* select box 스타일 초기화 */

select {
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}



/* IE에서 Select box 화살표 제거 */

select::-ms-expand { display:none; }





/*Firefox에서 input number 화살표 없애는 방법*/

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-mox-appearance: none;
	appearance: none;
}



/* input number의 외형을 텍스트필드로 바꿔줘야한다 */

input[type=number] {
-moz-appearance:textfield; 
}

	