/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: NanumSquareR;
    src: url(./NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf);
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0px;
    padding : 0px;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: NanumSquareR, sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.main{
    width: 100%;
    height: 1080px;
    background-image: url(./img-test/pattern.png);
    background-repeat: repeat;
    position: relative;
}
.bg-point{
    width: 240px;  
    height: 180px;
    background-image: url(./img-test/stick.png);
    background-size: cover;
    /* z-index: 1; */
}
.bg-point.top{
    position: absolute;
    right: 107px;
    z-index: 9;
}
.bg-point.bottom{
    position: absolute;
    left: 86px;
    /* bottom: -180px; */
    z-index: 1;
}

/*header*/
.header{
    width: 100%;
    /* height: 100px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 28px 0px;
    box-sizing: border-box;
    position: fixed;
    background-image: url(./img-test/pattern.png);
    background-repeat: repeat;
    z-index: 8;
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.logo{
    width: 190px;
    height: 44px;
    /* background-color: #000; */
    background-image: url(./img-test/vector-smart-object_logo.png);
}

.logo a{
    width: 100%;
    height: 100%;
    color : #fff;
}

.header-nav ul{
    /* height: 100px; */
    display: flex;
    z-index: 9;
}

.header-nav ul li{
    margin-left: 50px;
    line-height: 44px;

}
.header-nav ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    opacity: 0.5;
}
.header-nav ul li a:hover{
    opacity: 1;
}


/* visual */
/* .visual-wrap{
    width: 100%;
} */

.container{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    /* position: relative;
    top: 100px; */
    /* display: flex;
    justify-content: space-between; */
    position: relative;
}
.container.map{
    height: 173px;
}
/* .center-box{
    margin: 0px auto;
    height: 100%;
    position: relative;
} */

.mobile{
    width: 640px;
    height: 943px;
    position: relative;
    top: 140px;
    /* bottom: 0px; */
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./img-test/mobile.png);
    background-size: cover;
    padding: 150px 83px 139px 83px;
    box-sizing: border-box;
    text-align: center;
}

.mobile-title{
    font-size: 26px;
    font-weight: 700;
    color: #666666;
    /* margin: 20px 0px 0px 160px; */
    letter-spacing: -2.1px;
    margin: 21px 0 13px 0;
    font-family: NotoSansCJKkr-Medium;
}
.mobile-date{
    width: 474px;
    /* height: 53px; */
    border-radius: 30px;
    background: #32cada;
    z-index: 2;
    /* margin: 13px 0px 0px 83px; */
    padding: 10px 0px 12px 0;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: -1.95px;
    font-weight: 600;
    font-family: NotoSansCJKkr-Bold;
}

.mobile-text{
    height: 145px;
    font-size: 22px;
    letter-spacing: -1.6px;
    color: #333333;
    margin: 43px 0 54px 0;
    font-family: NotoSansCJKkr-Light;
}
.mobile-text span{
    font-size: 24px;
    letter-spacing: -1.8px;
    color: #23aab7;
    font-weight: 700;
}

.mobile a{
    width: 350px;
    height: 70px;
    line-height: 70px;
    background: #23aab7;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    display: block;
    margin-left: 60px;
    z-index: 9;
    letter-spacing: -1.8px;
    font-family: NotoSansCJKkr-Regular;
}

.box{
    z-index: 1;
}

.box.one{
    position: absolute;
    top: 366px;
    left: 0px;
    width: 340px;
    height: 120px;
    background-image: url(./img-test/talk@2x.png);
    background-size: cover;
}
.box.two{
    position: absolute;
    bottom: 239px;
    left: 0px;
    width: 340px;
    height: 120px;
    background-image: url(./img-test/talk@3x.png);
    background-size: cover;
}
.box.three{
    position: absolute;
    bottom: 440px;
    right: 0px;
    width: 390px;
    height: 122px;
    background-image: url(./img-test/talk.png);
    background-size: cover;
}

.sticker-microphone{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-news-microphone@3x.png);
    background-size: cover;
    position: absolute;
    top: 228px;
    left: 124px;
}
.sticker-headphones{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-headphones@3x.png);
    background-size: cover;
    position: absolute;
    top: 559px;
    left: 48px;
}
.sticker-www{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-www.png);
    background-size: cover;
    position: absolute;
    bottom: 80px;
    left: 171px;
}
.sticker-share{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-share@3x.png);
    background-size: cover;
    position: absolute;
    top: 334px;
    right: 194px;
}
.sticker-speech{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-speech.png);
    background-size: cover;
    position: absolute;
    bottom: 313px;
    right: 80px;
}
.sticker-news{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-news.png);
    background-size: cover;
    position: absolute;
    bottom: 170px;
    right: 250px;
}



/*introduce*/
.introduce-wrap{
    width: 100%;
    height: 820px;
    position: relative;
    background-color: #f7f7f7;
}

.introduce-bg.left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.introduce-bg.right{
    position: absolute;
    bottom: -220px;
    right: 90px;
    z-index: 1;
}

/* .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative
} */

.clearfix{
    content: "";
    display: block;
    clear: both;
}

.map-check{
    padding-top: 70;
    /* display: inline-block; */
    
}
.map-check ul{
    /* width: 1200px; */
    /* float: left; */
}

.map-check ul li{
    width: 25px;
    height: 4px;
    margin: auto 2px;
    background-color: rgba(0, 0, 0, 0.2);
    /* float: left; */
    margin-bottom: 20px;
    display: inline-block;
}
.map-check > ul > .check{
    width: 30px;
    background-color: #000000;
}

/* .map-check ul li:after{
    content: "";
    clear: both;
    display: block;
}

.map-check ul li:hover{
    background-color: rgba(0, 0, 0, 1);
}  */

.map-check-title{
    font-size: 34px;
    color:#333333;
    font-family: NotoSansCJKkr-Light;
}

.introduce-box{
    padding: 147px 0 143px 0;
    box-sizing: border-box;
}

.introduce-slogan{
    /* position: absolute;
    top: 277px; */
    margin-bottom: 105px;
}

.introduce-slogan ul{
    /* width: 1200px; */
    display: flex;
    justify-content: center;
}
.introduce-slogan ul li{
    text-align: center;
    margin: 0 35px;
    font-weight: 100;
}
.introduce-slogan ul li p{
    font-size: 60px;
    color: #3f5381;
    border-bottom: 1px solid #eeeeee;
    line-height: 50px;
    margin-bottom: 40px;
}
.introduce-slogan ul li:first-child p{
    border-bottom: 1px solid #c9c9c9;
}
.introduce-slogan ul li span{
    font-size: 28px;
    color :rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat';
    font-weight: normal;
    line-height: 4.29px;
    letter-spacing: -2.1px;
}

.introduce-slogan ul li:nth-child(2) p{
    color:#f4af64;
}
.introduce-slogan ul li:last-child p{
    margin-right: 0px;
    color: #53c6d2;
}

.introduce-text{
    /* width: 100%; */
    /* position: absolute;
    top: 526;
    left: 50%;
    transform: translateX(-50%); */
    display: flex;
    /* justify-content: space-between; */
    text-align: justify;
    margin: 0 80px;
    letter-spacing: -1.2px;
    font-family: NotoSansCJKkr-Light;
    font-weight: 500;
}

.introduce-text p{
    width: 50%;
    padding: 0 40px;
    font-size: 16px;
    letter-spacing: -1.6px;
    color: #333333;
    z-index:2;
}

.introduce-text p span{
    font-weight: bold;
}



/*program*/
.program-wrap{
    width: 100%;
    height: 1322px;
    background-color: #fff;
    z-index: 1;
    position: relative;

}
/* .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
} */


.program-box{
    display: flex;
    flex: 1;
    margin-top: 16px;
}

.program-list{
    /* width: 285px; */
    /* height: auto; */
    /* float: left; */
    /* margin-top: 160px; */
    margin-left: 48px;
    /* position: relative; */
}

.program-list ul{
    width: 285px;
    font-family: NotoSansCJKkr-Medium;
}

.list p{
    /* width: 285px; */
    /* height: 40px; */
    padding: 11px 0 11px 15px;
    font-size: 16px;
    background-color: #2d53a4;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    font-family: NotoSansCJKkr-Medium;
    font-weight: 500;
}

.list p:after{
    content: "";
    /* clear: both; */
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    right: -5px;
    bottom: -5px;
    transform: rotate(45deg);
}

.list:nth-child(2) p{
    background-color: #ed6e01;
}
.list:nth-child(3) p{
    background-color: #23aab7;
}
.list:nth-child(4) p{
    background-color: #574f9f;
}

.list-items > li{
    font-size: 13px;
    /* width: 270px; */
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #888888;
    padding: 11px 14px 12px 25px;
    font-weight: bold;
    font-family: NotoSansCJKkr-DemiLight;
    font-weight: 300;
    letter-spacing: 0.65px;
}
.list-items.check li:first-child{
    color: #2d53a4;
    display: flex;
    justify-content: space-between;
}

.list-items > li img{
    width: 14px;
    height: 14px;
}
/* .list-items-sub{
    margin-bottom: -8;
} */
.list-items-sub ul li{
    color: #888888;
    font-size: 12px;
    padding: 3px 0 3px 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

/*titme table*/
.table-wrap{
    width: 100%;
    height: 1120px;
    background-color: #fafafa;
}
/* .container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
} */


.table-box{
    margin-top: 40px;
}
.table-date{
    display: flex;
    justify-content: center;
    /* margin-top: 120px; */
}
.table-date ul{
    display: flex;
}
.table-date ul li{
    margin: 0 15px 48px 15px;
    font-size: 24px;
    /* height: 24px; */
    font-weight: bold;
    color: #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    line-height: 51px;
    font-family: 'NanumSquareR';
}

/* .table-date ul li:after{
    content: "";
    display: block;
    clear : both;
    width: inherit;
    height: 2px;
    margin-bottom: 48px;
} */
.table-date ul li:hover{
    color: #23aab7;
    border-bottom: 2px solid #23aab7;
}
/* .table-date ul li:hover:after{
    background-color: #23aab7;
} */

.time-table{
    width: 1006px;
    /* height: 672; */
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    font-family: NotoSansCJKkr-Medium;
}

.time{
    width: 92px;
    /* height: 623px; */
    padding-top: 50px;
    margin-right: 20px;
}
.time li{
    color: #333333;
    font-weight: 700;
    line-height: 60px;
}

.time li:first-child::before{
    content: "";
    /* clear: both; */
    display: block;
    width: 1009px;
    /* height: 19px; */
    border-bottom: 1px solid rgba(202, 202, 202, 0.534);
    /* margin-bottom: 19px; */
}
.time li:after{
    content: "";
    /* clear: both; */
    display: block;
    width: 1009px;
    /* height: 19px; */
    border-top: 1px solid rgba(202, 202, 202, 0.534);
    /* margin-top: 19px; */
}
.table{
    width: 285px;
    /* position: relative; */
    margin: 0 10px;
    
}
.table p{
    width: 285px;
    /* height: 40px; */
    padding: 11px 0 11px 16px;
    box-sizing: border-box;
    letter-spacing: -0.7px;
    color: #fff;
    font-weight: bold;
    background-color: #2d53a4;
    margin-bottom: 16px;
    position: relative;
}
.table p:after{
    content: "";
    /* clear: both; */
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fafafa;
    position: absolute;
    right: -5px;
    bottom: -5px;
    transform: rotate(45deg);
}
.table-container{
    z-index: 1;
    /* position: relative; */
    display: flex;
    /* text-align: center; */
    font-family: 'NanumSquareR';
}

.table-container > ul > li{
    padding-left: 16px;
    box-sizing: border-box;
}

.table li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35px;
    color: #2d53a4;
    background-color: #fff;
    position: relative;
}
.table > li:after{
    content: "";
    /* clear: both; */
    display: block;
    width: 10px;
    height: 14px;
    background-color: #fafafa;
    transform: rotate(40deg);
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.table.a li:after{
    border-left: 1px solid #2d53a4;
}
.table.b li:after{
    border-left: 1px solid #ed6e01;
}
.table.c li:after{
    border-left: 1px solid #23aab7;
}


.table-title.a-nomal{
    /* width: 285px; */
    height: 50px;
    line-height: 50px;
    /* padding: 14px 0 16px 16px; */
    box-sizing: border-box;
    border: 1px solid #2d53a4;
}
.table-title.a{
    /* width: 285px; */
    height: 111px;
    line-height: 111px;
    /* padding: 46px 0 46px 16px; */
    box-sizing: border-box;
    border: 1px solid #2d53a4;
    margin: 11px 0;
}

.table.b p{
    background-color: #ed6e01;
}
.table.b li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35px;
    color: #ed6e01;
}
.table-title.b-nomal{
    /* width: 285px; */
    height: 233px;
    line-height: 233px;
    /* padding: 107px 0 106px 16px; */
    box-sizing: border-box;
    border: 1px solid #ed6e01;
    margin: 11px 0;
}
.table-title.b{
    /* width: 285px; */
    height: 172px;
    line-height: 172px;
    /* padding: 76px 0 76px 16px; */
    box-sizing: border-box;
    border: 1px solid #ed6e01;
}


.table.c p{
    background-color: #23aab7;
}
.table.c li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35px;
    color: #23aab7;
}
.table-title.c{
    /* width: 285px; */
    height: 416px;
    /* line-height: 416px; */
    padding: 107px 0 156px 16px;
    box-sizing: border-box;
    border: 1px solid #23aab7;
    margin: 11px 0;
}


.table-title.c > ul >li{
    margin: 3px 0 0 10px;
    font-size: 14px;
}
.table-title.c > ul:last-child{
    margin-top: -25px;
}

.table-title.b-nomal-2{
    /* width: 285px; */
    height: 233px;
    line-height: 233px;
    /* padding: 107px 0 109px 16px; */
    box-sizing: border-box;
    border: 1px solid #23aab7;
}



/*map*/
.map-wrap{
    width: 100%;
    /* height: 1120px; */
}
.map-bg{
    width: 100%;
    margin: 39px 0 48px 0;
    /* height: 530px; */
    /* background-image: url(./img-test/layer-8.png);
    background-size: cover;
    position: absolute;
    margin-top: 173px; */
}
.map-container{
    width: 1200px;
    /* height: 100%; */
    margin: 0px auto;
    /* position: relative;
    top: 100px; */
    padding-bottom: 209px;
    box-sizing: border-box;
}

.map-area{
    /* position: relative; */
    /* margin-top: 750px; */
    display: flex;
    font-size: 24px;
    color: #333333;
    letter-spacing: -1.8px;
    font-weight: bold;
}


.map-area-left{
    margin-right: 20px;
    width: 50%;
}
.map-area-right{
    width: 50%;
}
.mmap-area-title{
    font-family: NotoSansCJKkr-DemiLight;  
}

.map-area-left-subway, .map-area-right-locate{
    margin: 40px 0;
    display: flex;
    align-content: flex-start;
    font-family: 'NanumSquareR';
}

.map-area-left-subway-icon{
    margin-right: 35px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    text-align: center;
    color : #fff;
    padding: 4px 0 7px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: NanumSquareB;
    font-weight: normal;
}

.map-area-left-subway-icon.top{
    background-color: #3d61ae;
}
.map-area-left-subway-icon.bottom{
    background-color: #71ce7f;
}

.map-area-right-locate-icon{
    margin-right: 35px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    text-align: center;
    color : #fff;
    border: 1px solid #23aab7;
    padding: 8px 0;
    box-sizing: border-box;
}

.icon-img{
    width: 18px;
    height: 18px;
    margin: 8px;
}

.program-side-btn{
    width: 110px;
    height: 110px;
    background-image: url(./img-test/sticky.png);
    background-size: cover;
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 9;
}



#footer{
    width: 100%;
    height: 100px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 45px 0;
    box-sizing: border-box;
}
#footer p{
    font-size: 12px;
    color: #fff;
    font-family: NanumSquareB;
}




@media screen and (max-width:1200px){
    .header-container, .container, .container.map, .program-box, .map-container{
        width: 95%;
    }
}