@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto&display=swap');

*{
    margin: 0px;
    padding : 0px;
    list-style: none;
    text-decoration: none;
}

#main{
    width: 100%;
    height: 1080px;
    background-image: url(./img-test/pattern.png);
    background-repeat: repeat;
    position: relative;
}
.bg-point{
    width: 240;
    height: 180;
    background-image: url(./img-test/stick.png);
    background-size: cover;
}
.bg-point.top{
    position: absolute;
    right: 107;
    z-index: 9
}
.bg-point.bottom{
    position: absolute;
    left: 86;
    bottom: -180;
    z-index: 1;
}

/*header*/
.header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 28px 0px;
    box-sizing: border-box;
    position: fixed;
    background-image: url(./img-test/pattern.png);
    background-repeat: repeat;
    z-index: 2;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.logo{
    width: 190px;
    height: 44px;
    /* background-color: #000; */
    background-image: url(./img-test/vector-smart-object_logo.png);
}

.logo a{
    width: 100%;
    height: 100%;
    color : #fff;
}

.header-nav ul{
    height: 100px;
    display: flex;
    z-index: 3;
}

.header-nav ul li{
    margin-left: 50px;
    line-height: 44px;

}
.header-nav ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    opacity: 0.5;
}
.header-nav ul li a:hover{
    opacity: 1;
}


/* visual */
.visual-wrap{
    width: 100%;
}

.visual-inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 100;
}

.visual-center{
    width: 640px;
    height: 943px;
    position: absolute;
    top: 40;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./img-test/mobile.png);
    background-size: cover;
}

.visual-center h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3;
    color: #32cada;
    margin: 150 0 0 158;
}
.visual-center h1 span{
    color: #000;
    font-size: 65;
    font-weight: 700;
}

.visual-center-title{
    font-size: 28;
    font-weight: 700;
    color: #666666;
    margin: 20 0 0 160;
    letter-spacing: -3.5;
}
.visual-center-date{
    width: 474;
    height: 53;
    border-radius: 30px;
    background: #32cada;
    z-index: 2;
    margin: 13 0 0 83;
    padding: 10 0 12 54 ;
    box-sizing: border-box;
    font-size: 26;
    color: #ffffff;
    letter-spacing: -2;
    font-weight: 600;
}

.visual-center-text{
    font-size: 22;
    letter-spacing: -1.6;
    color: #333333;
    text-align: center;
    margin: 40 0; 
}
.visual-center-text span{
    font-size: 24;
    letter-spacing: -1.8;
    color: #23aab7;
    font-weight: 700;
}
.phone-bg{
    width: 303;
    height: 107;
    background-image: url(./img-test/char.png);
    background-size: cover;
    margin: 10 0 0 167;
}
.visual-center-btn{
    width: 350;
    height: 70;
    background: #23aab7;
    border-radius: 10px;
    position: absolute;
    bottom: 125;
    left: 143;
    padding: 22 0;
    box-sizing: border-box;
    font-size: 24;
    color: #fff;
    letter-spacing: -2;
    text-align: center;
    
}

.visual-box{
    width: 100%;
    height: 100%;
    position: absolute;
}

.box.one{
    position: absolute;
    top: 265;
    left: 0;
    width: 340;
    height: 120;
    background-image: url(./img-test/talk@2x.png);
    background-size: cover;
}
.box.two{
    position: absolute;
    bottom: 230;
    left: 0;
    width: 340;
    height: 120;
    background-image: url(./img-test/talk@3x.png);
    background-size: cover;
}
.box.three{
    position: absolute;
    top: 428;
    right: 0;
    width: 390;
    height: 122;
    background-image: url(./img-test/talk.png);
    background-size: cover;
}

.visual-sticker{
    height: 943px;
    position: relative;
}
.sticker-microphone{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-news-microphone@3x.png);
    background-size: cover;
    position: absolute;
    top: 107;
    left: 124;
}
.sticker-headphones{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-headphones@3x.png);
    background-size: cover;
    position: absolute;
    top: 437;
    left: 48;
}
.sticker-www{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-www.png);
    background-size: cover;
    position: absolute;
    bottom: 40;
    left: 171;
}
.sticker-share{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-share@3x.png);
    background-size: cover;
    position: absolute;
    top: 233;
    right: 194;
}
.sticker-speech{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-speech.png);
    background-size: cover;
    position: absolute;
    bottom: 270;
    right: 80;
}
.sticker-news{
    width: 100px;
    height: 100px;
    background-image: url(./img-test/icon-news.png);
    background-size: cover;
    position: absolute;
    bottom: 130;
    right: 224;
}



/*introduce*/
.introduce-wrap{
    width: 100%;
    height: 820px;
    position: relative;
    background: #fff;
}
.introduce-bg.left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.introduce-bg.right{
    position: absolute;
    bottom: -220;
    right: 0;
    z-index: 1;
}

.introduce-inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}

.slide{
    position: absolute;
    top: 77;
    left: 0;
}
.slide ul{
    width: 1200;
    float: left;
}

.slide ul li{
    width: 30px;
    height: 4px;
    margin: auto 2px;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    margin-bottom: 20px;
}
.slide ul li:after{
    content: "";
    clear: both;
    display: block;
}

.slide ul li:hover{
    background-color: rgba(0, 0, 0, 1);
} 

.slide-title{
    font-size: 34px;
    color:#333333;
}

.introduce-slogan{
    position: absolute;
    top: 277px;
}

.introduce-slogan ul{
    width: 1200px;
    display: flex;
    justify-content: center;
}

.introduce-slogan ul li{
    font-size: 60px;
    color: #3f5381;
    margin-right: 75px;
    text-align: center;
    float: left;
}

.introduce-slogan ul li:nth-child(2){
    color:#f4af64;
}
.introduce-slogan ul li:last-child{
    margin-right: 0px;
    color: #53c6d2;
}

.introduce-slogan ul li span{
    font-size: 28px;
    color :rgba(0, 0, 0, 0.2);
    font-weight: bold;
}


.introduce-text{
    position: absolute;
    top: 526;
    left: 50%;
    transform: translateX(-50%);
    /* float: left; */
    display: flex;
    justify-content: space-between;
}
.introduce-text p{
    width: 450px;
    height: 122px;
    /* float: left; */
    margin: 0 40px;
    font-size: 18px; /*16*/
}

.introduce-text p span{
    font-weight: bold;

}



/*program*/
.program-wrap{
    width: 100%;
    height: 1322px;
    background-color: #fff;
    z-index: 1;
    position: relative;

}
.program-inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.program-bg{
    width: 807;
    height: 1013;
    /* margin: 148px 0px 161px; */
    background-image: url(./img-test/vector-smart-object.png);
    background-size: cover;
    z-index: 1;
    margin-top: 148;
    float: left;
}

.program-list{
    width: 285px;
    height: auto;
    float: left;
    margin-top: 148;
    margin-left: 48px;
}

.program-list ul{
    width: 285px;
}

.list p{
    width: 285px;
    /* height: 40px; */
    padding: 11 0 11 15;
    font-size: 16px;
    background-color: #2d53a4;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

.list p:after{
    content: "";
    clear: both;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    right: -5;
    bottom: -5;
    transform: rotate(45deg);
}

.list:nth-child(2) p{
    background-color: #ed6e01;
}
.list:nth-child(3) p{
    background-color: #23aab7;
}
.list:nth-child(4) p{
    background-color: #574f9f;
}

.list-items li{
    font-size: 14px;
    width: 270px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #888888;
    padding: 13 0 13 25;
    font-weight: bold;
}
.list-items-sub{
    margin-bottom: -8;
}
.list-items-sub > ul{
    color: #888888;
    font-size: 11;
    padding: 3 0 3 20;
    box-sizing: border-box;
    margin-top: 10;

}

.program-side-btn{
    width: 110px;
    height: 110px;
    background-image: url(./img-test/sticky.png);
    background-size: cover;
    position: absolute;
    bottom: 179;
    right: -200;
}


/*titme table*/
.table-wrap{
    width: 100%;
    height: 1120px;
    background-color: #fafafa;
}
.table-wrap-inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 175 0 140 0;
}

.table-date{
    display: flex;
    justify-content: center;
}
.table-date ul{
    display: flex;
}
.table-date ul li{
    margin: auto 15px;
    font-size: 24px;
    font-weight: bold;
    color: #aaaaaa;
}

.table-date ul li:after{
    content: "";
    display: block;
    clear : both;
    width: inherit;
    height: 2px;
    margin-bottom: 48px;
}
.table-date ul li:hover{
    color: #23aab7;
}
.table-date ul li:hover:after{
    background-color: #23aab7;
}

.time-table{
    width: 1006px;
    /* height: 672; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.time{
    width: 92px;
    height: 623px;
    padding-top: 35px;
    margin-right: 20;
}
.time li{
    color: #000;
}
.time li:first-child::before{
    content: "";
    clear: both;
    display: block;
    width: 1006;
    height: 19;
    border-bottom: 1px solid rgba(202, 202, 202, 0.534);
    margin-bottom: 19;
}
.time li:after{
    content: "";
    clear: both;
    display: block;
    width: 1006;
    height: 19;
    border-top: 1px solid rgba(202, 202, 202, 0.534);
    margin-top: 19;
}
.table{
    width: 285px;
    position: relative;
    margin: 0 10;
    
}
.table p{
    width: 285px;
    height: 40px;
    padding: 11 0 11 16;
    box-sizing: border-box;
    letter-spacing: -1.2px;
    color: #fff;
    font-weight: bold;
    background-color: #2d53a4;
    margin-bottom: 16px;
    position: relative;
}
.table p:after{
    content: "";
    clear: both;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fafafa;
    position: absolute;
    right: -5;
    bottom: -5;
    transform: rotate(45deg);
}
.table-container{
    z-index: 1;
    position: relative;
    display: flex;

}

.table li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35;
    color: #2d53a4;
    background-color: #fff;
    position: relative;
}
.table > li:after{
    content: "";
    clear: both;
    display: block;
    width: 10;
    height: 14;
    background-color: #fafafa;
    transform: rotate(40deg);
    position: absolute;
    bottom: -5;
    right: -5;
}
.table.a li:after{
    border-left: 1px solid #2d53a4;
}
.table.b li:after{
    border-left: 1px solid #ed6e01;
}
.table.c li:after{
    border-left: 1px solid #23aab7;
}


.table-title.a-nomal{
    width: 285px;
    height: 50px;
    padding: 16 0 16 16;
    box-sizing: border-box;
    border: 1px solid #2d53a4;
}
.table-title.a{
    width: 285px;
    height: 111px;
    padding: 46 0 46 16;
    box-sizing: border-box;
    border: 1px solid #2d53a4;
    margin: 11 0;
}

.table.b p{
    background-color: #ed6e01;
}
.table.b li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35;
    color: #ed6e01;
}
.table-title.b-nomal{
    width: 285px;
    height: 233px;
    padding: 107 0 106 16;
    box-sizing: border-box;
    border: 1px solid #ed6e01;
    margin: 11 0;
}
.table-title.b{
    width: 285px;
    height: 172;
    padding: 76 0 76 16;
    box-sizing: border-box;
    border: 1px solid #ed6e01;
}


.table.c p{
    background-color: #23aab7;
}
.table.c li{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.35;
    color: #23aab7;
}
.table-title.c{
    width: 285px;
    height: 416;
    padding: 107 0 156 16;
    box-sizing: border-box;
    border: 1px solid #23aab7;
    margin: 11 0;
}

.table-title.c > ul >li{
    margin-top: 3;
    font-size: 16;
}
.table-title.b-nomal-2{
    width: 285px;
    height: 233;
    padding: 107 0 109 16;
    box-sizing: border-box;
    border: 1px solid #23aab7;
}



/*map*/
.map-wrap{
    width: 100%;
    height: 1120;
    /* background-color: rosybrown; */
}
.map-bg{
    width: 100%;
    height: 530px;
    background-image: url(./img-test/layer-8.png);
    background-size: cover;
    position: absolute;
    margin-top: 173;
}
.map-wrap-inner{
    width: 1200px;
    height: 1120;
    margin: 0 auto;
    position: relative;
}

.map-bottom{
    position: absolute;
    margin-top: 750;
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    color: #333333;
    letter-spacing: -1.8;
    font-weight: bold;
}

.map-bottom-left{
    /* width: 500; */
    margin-right: 240;
}

.map-bottom-left-subway, .map-bottom-right-locate{
    margin: 40 0;
    display: flex;
    align-content: flex-start;
}

.map-bottom-left-subway-icon{
    margin-right: 35;
    width: 34;
    height: 34;
    border-radius: 100%;
    text-align: center;
    color : #fff;
}

.map-bottom-left-subway-icon.top{
    background-color: #3d61ae;
}
.map-bottom-left-subway-icon.bottom{
    background-color: #71ce7f;
}

.map-bottom-left-subway-text{
    font-size: 22;
}

.map-bottom-right-locate-icon{
    margin-right: 35;
    width: 34;
    height: 34;
    border-radius: 100%;
    text-align: center;
    color : #fff;
    border: 1px solid #23aab7;
}

.icon-img{
    width: 18;
    height: 18;
    margin: 8;
}
.icon-img.address{
    background-image: url(./img-test/placeholder.png);
}
.icon-img.call{
    background-image: url(./img-test/phone-call.png);
}

#footer{
    width: 100%;
    height: 100px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 45 0;
    box-sizing: border-box;
}
#footer p{
    font-size: 10;
    color: #fff;
}