@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0px;
}

.container {
    width: 1200px;
}


/* Header Seciton */
header {
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    display: flex;
    flex-direction: column;
}

.header-black  {
    height: 40px;
    color: #ffffff;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-black .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-slogan{
    font-size: 12px;
    line-height: 12px;
    font-stretch: normal;
    font-style: normal;
}

.header-black .header-nav{
    display: flex;
    color: #cccccc;
    font-size: 12px;
    line-height: 12px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.9px;
}

.header-black a {
    color: #cccccc;
    font-size: 12px;
    line-height: 12px;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: -0.9px;
}

.header-black .header-nav span{
    opacity: 0.1;
    margin: 0 7px;
}

.header-white {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.header-white .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-white .header-nav{
    display: flex;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
}

.header-white .header-nav > div{
    margin-left: 41px;
}

.header-nav  a{
    cursor: pointer;
}

/* Header Seciton END */

/* Login Main Section Start */

.login-main{
    display: flex;
    height: 938px;
    justify-content: center;
    text-align: center;
}

.login-main .container{
    display: flex;
    margin-top: 119px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.main-title {
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 60px;
    text-align: center;
}

.form-input-component{
    height: 50px;
    border: solid 1px #999999;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 8px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.form-input-component input{
    all: unset;
    font-family: noto;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -1.05px;
    text-align: left;
}

.form-input-component button{
    border: unset;
    width: 80px;
    height: 35px;
    background-color: #1faf83;  
    color: white;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

.checkInputWrap{
    display: flex;
    height: 24px;
    align-items: center;
    color: #999999;
    margin: 15px 0;
}

.checkInput{
    width: 23px;
    height: 23px;
    margin-right: 15px;
}

input:checked {
    background-color: unset;
    
}

.bigConfirmButton{
    color: unset;
    border: unset;
    background-color: unset;
    height: 60px;
    background-color: #cccccc;  
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 35px;
}

.bigConfirmButton-active{
    color: unset;
    border: unset;
    background-color: unset;
    height: 60px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 35px;
    background-color: #1faf83;
}

.login-form-submenu{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}

.login-form-submenu span{
    opacity: 0.5;
    margin: 0 20px;
}

.social-login-title{
    display: flex;
    font-size: 21px;
    line-height: 22px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.65px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 39px;
    align-items: center;
}

.social-login-title span{
 margin: 0 20px;   
}


.line {
    height: 1px;
    width: 138px;
    opacity: 0.5;
    background-color: #999999;
}

.social-icon-wrap{
    display: flex;
    justify-content: center;
}

.social-icon-wrap img{
    margin: 0 10px;
    margin-bottom: 31px;
    cursor: pointer;
}

.social-comment{
    color: #666666;
    size: 14px;
    line-height: 14px;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
}

.notice-wrap {
    width: 100%;
    display: flex;
    font-size: 14px;
    padding: 20px 0;
}

.notice{
    margin-right: 30px;
}

.notice-content{
    color: #666666;
}

/* LoginMain Section END */

/* Footer Start */

footer{
    height: 320px;
    border-top: 1px solid rgba(0, 0, 0, 0.048);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-info{
    padding: 40px 0;
}

.footer-info span{
    margin-right: 40px;
}

.footer-addr{
    width: 387px;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    letter-spacing: -1.05px;
    font-weight: 300;
}

.footer-addr span{
    font-size: 11px;
    line-height: 11px;
    font-weight: 300;
}

.footer-icon-wrap{
    display: flex;
    margin-top: 40px;
}

.footer-icon-wrap div{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
/* Footer end */

/* Register start */

.register-main{
    height: 1129px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-main .container{
    display: flex;
    margin-top: 119px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.register-main .main-title{
    margin-bottom: 35px;
}

.register-wrap{
    display: flex;
    flex-direction: column;
    width: 450px;
}


.register-wrap .FormInputLabel{
    font-size: 16px;
    line-height: 16px;
    margin-top: 25px;
    margin-bottom: 9px;
}

.register-main .checkInputWrap{
    color:#333333;
    margin: 10px 0;
}

.register-main .checkInput-text{
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -1.05px;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
}

.register-main .checkInput-detail{
    font-size: 14px;
    color: #999999;
    border-bottom: 1px solid #999999;
}

.register-checklist{
    margin-top: 25px;
    margin-bottom: 5px;
}



/* Register end */

/* fixed */
.fixed-kakao{
    position: fixed;
    bottom: 80px;
    right: 50px;
    cursor: pointer;
}

/* fixed end */