@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

:root {
  --lightgray: #f5f5f5;
  --gray: #999999;
  --black: #000;
  --white: #eee;
  --green: #1faf83;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1012px;
  margin: 0 auto;
}

/* Header */
.blackHeader {
  background-color: var(--black);
  color: var(--white);
  height: 40px;
  display: flex;
  align-items: center;
}
.blackHeader .container,
.whiteHeader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blackHeader .container div span,
.whiteHeader .container div span {
  margin-left: 32px;
}
.blackHeader .container div span a {
  color: var(--white);
  text-decoration: none;
}

.whiteHeader {
  height: 80px;
  display: flex;
  align-items: center;
}

/* SnsButton */
.button-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);
  border-radius: 50%;
}
.button-box img {
  display: block;
  width: 50%;
}

/* Footer */
footer {
  height: 354px;
}
.footer-notice {
  margin-bottom: 20px;
}
.footer-notice span {
  margin-right: 30px;
}
footer hr {
  width: 100%;
  opacity: 0.2;
}
.informations p {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
}
.info-menu {
  margin: 40px 0;
}
.info-menu span {
  margin-right: 40px;
}
footer .icon-wrapper {
  display: flex;
  margin-top: 40px;
}
footer .icon-wrapper .button-box {
  margin-left: 10px;
}
footer .container:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

/* Login */
.login-box-container {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 180px;
}
.login-box-container .login {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.login-box-container .checkbox {
  margin-top: 20px;
  color: var(--ligh);
  display: flex;
  align-items: center;
}
.login-box-container .checkbox .check {
  margin-right: 10px;
}
.login-box-container .checkbox span {
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}
.login-option {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.login-option span {
  font-size: 14px;
  font-weight: 300;
}
.login-option span:nth-child(2) {
  margin: 0 20px;
}
.social-login-txt {
  display: block;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  position: relative;
  background-color: white;
  z-index: 1;
}
.line {
  display: block;
  height: 1px;
  width: 100%;
  border-top: 1px solid #999999;
  opacity: 0.5;
  position: relative;
  top: 16px;
  z-index: 0;
}
.login-box-container .icon-wrapper {
  display: flex;
  justify-content: center;
}
.login-box-container .icon-wrapper .button-box:nth-child(2) {
  margin: 0 20px;
}
.login-box-container .icon-wrapper .button-box img {
  width: 100%;
}
.login-box-container .social-login-explain {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}

/* input */
.input-box {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: solid 1px rgb(153, 153, 153, 0.5);
  background-color: #ffffff;
}
input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 0 0 20px;
  height: 48px;
}
input::-webkit-input-placeholder {
  /* padding-inline-start: 20px; */
  font-size: 14px;
  font-weight: 300;
}

input:focus {
  outline: none;
}
input[type='text'],
input[type='password'] {
  color: #666666;
  font-weight: 300;
}

/* login-button */
.login-button {
  display: block;
  width: 100%;
  width: 450px;
  height: 60px;
  border: none;
  border-radius: 2px;
  background-color: #cccccc;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
.login-button:hover {
  background-color: var(--green);
}
/* Register */
.register-box-container .title {
  font-weight: 300;
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
}
.register-box-container .email {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: solid 1px rgb(153, 153, 153, 0.5);
  background-color: #ffffff;
}
.register-box-container .email .input-box {
  border: none;
  height: 48px;
}
.register-box-container .email .input-box input {
  border: none;
  padding: 0 0 0 20px;
}
.register-box-container .email button {
  width: 80px;
  height: 33px;
  background-color: #1faf83;
  color: white;
  border: none;
  border-radius: 2px;
  margin: 8px;
}
.register-box-container .checkbox-wrapper {
  margin-top: 30px;
}
.register-box-container .checkbox {
  display: flex;
}
.register-box-container .checkbox .lists {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.register-box-container .checkbox .lists .list {
  color: var(--black);
}
.detail {
  border-bottom: 1px solid #999999;
}
.kakao-banner {
  width: 79px;
  height: 80px;
  position: fixed;
  right: 40px;
  bottom: 40px;
}
.kakao-banner img {
  display: block;
  width: 100%;
}
